<?xml version="1.0" encoding="utf-8"?>
<!--
Este archivo es utilizado por el proceso de paquete/publicación de nuestro proyecto Web. Puede personalizar el comportamiento de este proceso
editando este archivo MSBuild. Para conocer más acerca de esto, visite http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://searchandfind.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>searchandfind.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>searchandfind</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$searchandfind</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="SearchAndFindDb" Order="1" Enabled="False">
          <Destination Path="Data Source=searchAndFindDb.mssql.somee.com;Initial Catalog=searchAndFindDb;Persist Security Info=False;User ID=searchAndFind_SQLLogin_1;Password=h7dqd3hcco;Packet Size=4096;Workstation ID=searchAndFindDb.mssql.somee.com" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=SQL7001.site4now.net;Initial Catalog=DB_A2D19D_searchandfind;User ID=DB_A2D19D_searchandfind_admin;Password=searchandfind2017" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\SearchAndFindDb_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=SQL7001.site4now.net;Initial Catalog=DB_A2D19D_searchandfind;User Id=DB_A2D19D_searchandfind_admin;Password=searchandfind2017;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)SearchAndFindDb-Web.config Connection String">
      <ParameterValue>Data Source=searchAndFindDb.mssql.somee.com;Initial Catalog=searchAndFindDb;Persist Security Info=False;User ID=searchAndFind_SQLLogin_1;Password=h7dqd3hcco;Packet Size=4096;Workstation ID=searchAndFindDb.mssql.somee.com</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>